:root {
  --preto: #000000;
  --branco: #FFF;
  --cor-primaria: #6FA7F5;
  --cor-secundaria: #D6DEE2;
  --cor-terciaria: #D2DFFB;
  --cor-contraste-claro: #346DEE;
  --cor-titulo: #06132F;
  --cor-subtitulo: #091C47;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: 'Arial', sans-serif;
}

body {
  background-color: var(--cor-secundaria);
}

main {
  text-align: center;
}

h1 {
  color: var(--cor-titulo);
  font-size: 2.2rem;
  margin: 1.4rem;
}

h2 {
  color: var(--cor-subtitulo);
  font-size: 1.4rem;
}

img {
  width: 13rem;
  padding: 0.5rem;
}

p + button {
  width: 75%;
  font-size: 0.8rem;
  font-weight: 600;
  
  background-color: var(--branco);
  border-radius: 1rem;

  transition: 0.3s ease;
}

p + button:hover {
  transform: scale(1.2);
  color: var(--cor-contraste-claro);
  cursor: pointer;
}

button {
  border: none;
}

#main-container {
  width: 100%;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
}

#botoes-container {
  padding: 1.2rem;
  margin-left: 5rem;
  border-radius: 1.5rem;

  display: flex;
  justify-content: space-between;
}


#botoes-container button {
  background-color: var(--branco);
  
  font-size: 1rem;
  font-weight: bold;
  
  width: 5rem;
  padding: 0.25rem;
  border-radius: 1rem;
}

#botoes-container button:first-child {
  margin-right: 1.5rem;
}

#botoes-container button:hover {
  background-color: var(--cor-titulo);
  color: var(--branco);
  
  cursor: pointer;

  transition: 0.3s ease-in-out;
}

#produtos-container {
  margin: 1.4rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}

.cartao-produto {
  background-color: var(--branco);
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.6);

  transition: 0.3s ease;
}

.cartao-produto:hover {
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(111, 167, 245, 0.6);
  transform: scale(1.05);
  box-shadow: 0.2rem 0.2rem 0.4rem 0.4rem rgba(111, 167, 245, 0.8);
}

.foto-container {
  width: 50%;
}

.info-container {
  display: flex;
  height: 8rem;
  justify-content: space-around;
  padding: 0.5rem;
  /* background-color: blue; */
}

.info-container p {
  width: 55%;
  padding: 0.5rem;
  text-align: justify;
  overflow-y: scroll;
}

.compra-container {
  background-color: var(--cor-terciaria);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.compra-container p {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  overflow-y: hidden;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);

  border-radius: 0.625rem;
  border: 0.125rem solid var(--cor-secundaria);
}